<h1>Edit existing article</h1>

<% if @article.errors.any? %>
    <!--<h2>These errors caused the article to not be created: </h2> -->
    <% if @article.errors.full_messages.length == 1 %>
        <h3>The following error caused the article to not be created:</h3>
    <% elsif @article.errors.full_messages.length > 1 %>
        <h3>The following errors caused the article to not be created:</h3>
    <% end %>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @article do |f| %>
    <p>
      <%= f.label :title %> <br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %> <br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>

<% end %>